@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Outfit:wght@400;500;600;700&display=swap");

html,
body,
#root {
  margin: 0;
  width: 100%;
  min-height: 100%;
  font-family: "Inter", sans-serif;
}

body {
  min-height: 100vh;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.font-outfit {
  font-family: "Outfit", sans-serif;
}
